.env
backend/venv/
backend/data/*.db-shm
backend/data/*.db-wal
backend/*.db
backend/*.db-shm
backend/*.db-wal
backend/data/*.csv
backend/data/*.zip
backend/__pycache__/
backend/**/__pycache__/
*.pyc
frontend/node_modules/
frontend/dist/
.DS_Store
